
<div class="row">
    <div class=" col-md-12">
        <h2>Правила чата Смайл</h2>
        <h4>Администрация имеет право менять правила без предварительного уведомления чатлан</h4>
        <p>Чат знакомств "Смайл" предназначен и является средством общения для любых слоев населения вне зависимости от социального статуса, материального состояния, расовой принадлежности и гражданства. "Общение ради общения" - основной девиз нашего чата. При  общении в чате администрация чата убедительно просит всех "чатлан" (лиц, находящихся в чате) соблюдать нижеуказанные правила. При невыполнении правил чата, к лицу, нарушившему их может быть применена (ы) санкция (и). Санкции применяются дабы предотвратить нарушения правил в дальнейшем.  Регистрируя ник в чате, пользователь обязуется следовать настоящим правилам, кем бы он ни являлся в реальной жизни. Посетителю чата разрешено делать все, что не запрещено.</p>
        <p>В отличие от других , в нашем чате знакомств "Смайл" пользователям позволено общаться на такую тему как "секс"(половые отношения между лицами противоположного пола). Перед посещением чата, пользователям обязательно необходимо ознакомиться с правилами нашего чата. </p>
        <p><b>Главное правило в чате</b> - ВЗАИМОУВАЖЕНИЕ, за нарушение - <b>BAN</b></p>
        <h3>Запрещено:</h3>
        <ol>
            <li>** Злоупотреблять ненормативной лексикой на всех языках. ("Литературные", на первый взгляд слова, "бля/блядь,сука", а также слова, типа "пи..да","х..й","пи..рас" и т.д так же приравниваются к мату, особенно, при применении их в оскорбительном контектсте!<font color="red">*</font></li>
            <li>Оскорблять посетителей чата в явной или скрытой форме(без использования матов)<font color="red">*</font>.</li>
            <li>Флудить, то есть многократно повторять одни и те же или незначительно различающиеся фразы, так же, ко флуду модератор может отнести большой поток сообщений, написанных пользователем в "общаке" (цитирование песен, стихов, просто обдуманных или необдуманных сообщений и т.д.) . В том числе запрещен флуд смайликами.</li>
            <li>Рекламировать другие чаты и сайты. Ваши фотографии и адреса домашних страничек Вы можете указать в разделе "Инфо".</li>
            <li>Клонировать чужие ники (то есть брать себе ник, похожий на ник другого посетителя).</li>
            <li>Регистрироваться под оскорбительными никами, а так же никами, содержащими номера ICQ, телефонов, адресов E-MAIL, пейджеров и т.п.</li>
            <li>Провоцировать посетителей чата (подстрекать к конфликтным ситуациям).</li>
            <li>Публикация реальных данных о посетителях <strong>чата</strong> (номера телефонов, фамилии и т.д.).</li>
            <li>Обсуждать/критиковать действия модераторов чате. Вы можете пожаловаться на модератора, который, как Вы думаете, поступил "НЕ правильно", написав по адресу: <a href="mailto:support@gmail.com">support@gmail.com</a>, указав время, дату происшествия, ники виновников инцидента, а так же прикрепив к сообщению скриншот.</li>
            <li>Призывать пользователей чата к реальным встречам для "выяснения отношений".</li>
            <li>Любое проявление враждебности, базирующееся на расовой, классовой, и реглигиозной почве. А так же ЛЮБОЕ подстрекательство.</li>
            <li>Пропаганда наркотических веществ.</li>
            <li>Несоблюдение политкорректности.</li>
            <li>ВСЕ, ЧТО ЯВНО ИЛИ КОСВЕННО ПРОТИВОРЕЧИТ ЗАКОНАМ и КОДЕКСАМ ДНР</li>
        </ol>
        
        
    </div>
</div>