@{
    ViewBag.Title = "ChatToMe";
}



<div class="container-fluid messages">
    <div class="row">
        <div class="col-xs-9 col-md-9 fix-height ">
            <div id="chat" class="window">
                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>

                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>

                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>

                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>

                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>

                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>

                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>

                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>

                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>

                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>

                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>

                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>

                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>

                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>

                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>

                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>

                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>

                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>

                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>

                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>

                <p>
                    <span class="link time">08:02:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log">sherlock</span> <span style="color:#000000">эт планету двигать надо !</span>
                </p>
            </div>
        </div>
        <div class="col-xs-3 col-md-3 fix-height">
            <div id="login" class="window">
                <b>Пользователи (<span class="col">14</span>)</b><br>

                <p id="l_Shades">
                    <i class="info" id="99209">&nbsp;</i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log"
                                                                                       style="color:#000000">Shades</span>
                </p>

                <p id="l_aнгeлoк">
                    <i class="info" id="107133">&nbsp;</i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log"
                                                                                        style="color:#990066">aнгeлoк</span>
                </p>

                <p id="l_пoшлятинкa_я">
                    <i class="info" id="112907">&nbsp;</i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log" style="color:#000000">пoшлятинкa_я</span>
                </p>

                <p id="l_BEЖЛИBЫЙ_ЧEЛOBEK">
                    <i class="info" id="97838">&nbsp;</i>&nbsp;&nbsp;&nbsp;<span class="link log"
                                                                                 style="color:#000000">BEЖЛИBЫЙ_ЧEЛOBEK</span>
                </p>

                <p id="l_Lumer">
                    <i class="info" id="118095">&nbsp;</i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log"
                                                                                        style="color:#0066cc">Lumer</span>
                </p>

                <p id="l_Maгиcтp_Йoдa1">
                    <i class="info" id="117132">&nbsp;</i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log" style="color:#000000">Maгиcтp_Йoдa1</span>
                </p>

                <p id="l_Vita_est_Caritas">
                    <i class="info" id="112724">&nbsp;</i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log" style="color:#2f3192">Vita_est_Caritas</span>
                </p>

                <p id="l_demik">
                    <i class="info" id="97439">&nbsp;</i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log"
                                                                                       style="color:#0072bc">demik</span>
                </p>

                <p id="l_sherlock">
                    <i class="info" id="101103">&nbsp;</i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log"
                                                                                        style="color:#000000">sherlock</span>
                </p>

                <p id="l_Улыбниcь™">
                    <i class="info" id="110700">&nbsp;</i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log"
                                                                                        style="color:#990066">Улыбниcь™</span>
                </p>

                <p id="l_вaдим_26__">
                    <i class="info" id="1138097">&nbsp;</i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log" style="color:#000000">вaдим_26__</span>
                </p>

                <p id="l_лю1бeзный">
                    <i class="info" id="871165">&nbsp;</i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log"
                                                                                        style="color:#000000">любeзный</span>
                </p>

                <p id="l_вaдим_262_">
                    <i class="info" id="1184097">&nbsp;</i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log" style="color:#000000">вaдим_26__</span>
                </p>

                <p id="l_любeз2ный">
                    <i class="info" id="871265">&nbsp;</i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log"
                                                                                        style="color:#000000">любeзный</span>
                </p>

                <p id="l_вaдим_263_">
                    <i class="info" id="1180597">&nbsp;</i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log" style="color:#000000">вaдим_26__</span>
                </p>

                <p id="l_люб7eзный">
                    <i class="info" id="871365">&nbsp;</i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log"
                                                                                        style="color:#000000">любeзный</span>
                </p>

                <p id="l_вaдим_264_">
                    <i class="info" id="1180967">&nbsp;</i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log" style="color:#000000">вaдим_26__</span>
                </p>

                <p id="l_люб8eзный">
                    <i class="info" id="871765">&nbsp;</i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="link log"
                                                                                        style="color:#000000">любeзный</span>
                </p>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">

        function User() {
            var UserID;
            var UserName;
            var LastUpdate;
            var Color;
        }

        function Message() {
            var MsgId;
            var Time;
            var Name;
            var Color;
            var Mesage;
        }

        var Users = new Array();
        var Messages = new Array();


        function GetLastMsgId() {
            //return 0;
            if (Messages.length == 0 )return 0;
            return Messages[Messages.length - 1].MsgId;
        }

        var datain;
       // window.setInterval(Update, 10000);

        function Update() {

            $.ajax({
                url: "@Url.Action("Update", "Chat")",
                type: "POST",
                data: {LastMsgId: GetLastMsgId()},
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function(response) {
                    alert(response.responseText);
                },
                success: function (data) {
                    datain = data;
                    for (var i = 0; i < data.Messages.length; i++) {
                        Messages.push(data.Messages[i]);
                    }

                    
                    

                    console.log(data);
                }
            });

        }

    </script>
}